body {
  background-image: url("https://wallpaperaccess.com/full/43657.jpg");
  /* background-image: url("https://wallpaperaccess.com/full/43654.jpg"); */
  align-items: center;
  background-color: #b5fe83;
  display: flex;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #f8edeb;
  justify-content: center;
  align-items: center;
  height: "100vh";
}
button {
  background-color: #e8e8e4;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #15172b;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  align-items: center;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.input-el {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* .Img-holder {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  background-color: #05204a;
  height: auto;
  width: auto;
} */
.App {
  background-color: #15172b;
  color: #f7f7f7;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 20px;
  align-items: center;
  text-align: center;
}
